*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
    position: relative;
}
/* #box{
    height: 200px;
    width: 500px;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: top;
    gap: 210px;
    /* justify-content: space-between; */
    /* padding: 20px 30px;
    border-radius: 50px;
}
button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: blue; */
    /* color: white;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#l{
    height: 10px;
    width:400px;
    background-color: rgba(128, 128, 128, 0.373);
    position: absolute;
    top: 52%;
    left: 37%;
    translate:transform(-50%,-50%);
    border-radius: 50px;
    overflow: hidden; */
/* }
h2{
    font-size: 20px;
    position: absolute;
    top: 51%;
    left: 62%;
    translate:transform(-50%,-50%);
}
#l2{
    height: 10px;
    width:0px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px; */
        /* overflow: hidden;*/  

/* } */

.elem{
    height: 265px;
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 0px 90px;
    border: 2px solid white;
    position: relative;
}
h1{
    z-index: 10;
    position: relative;
    font-size: 8vw;
    mix-blend-mode: difference;
}
.elem img{
    height: 200px;
    width:200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    transition: all linear cubic-bezier(0.19, 1, 0.22, 1) 0.5;
}