*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
}
#Main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(2, 2, 44); */
    background-color: rgba(28,31,50,255);
}
#part1{
    height: 70%;
    width: 18%;
    /* background-color:red; */
    background-color: rgba(36,39,63,255);
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
}
#nav{
    height: 30px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}
#nav h4{
    font-size: 10px;
}
#navpart1{
    height: 100%;
    width: 100px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: 10px;
}
#log{
    position: absolute;
    top: 65px;
    left: 20px;
    font-size: 20px;
}
#middle{
    height: 40%;
    width: 100%;
    /* background-color: green; */
    position: absolute;
    top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
        /* justify-content: space-around; */
}
#user{
    position: absolute;
    top: 27px;
    left: 9px;
    /* color: black; */
}
#password{
    position: absolute;
    top: 72px;
    left: 9px;
    /* color: black; */
}
#c{
    border-radius: 50px;
    position: absolute;
    top: 110px;
    left: 22px;
    background-color: transparent;
     /* border: 2px solid white; */
    /* background-color:rgba(36,39,63,255) ; */
     /* color: rgba(36,39,63,255);   */
}
#middle h4{
    position: absolute;
    top: 109px;
    left: 45px;
    font-size: 12px;
}
#middle h3{
    position: absolute;
    font-size: 10px;
    top: 113px;
    left: 160px;
     color: rgba(236,59,85,255);
}

.n{
    height: 30px;
    width: 220px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid rgba(236,59,85,255);
    background-color: rgba(36,39,63,255);
    /* position: absolute; */
    /* top: 60px; */
    left: 22px;
}
#middle button{
    height: 30px;
    width: 220px;
    border-radius: 50px;
    position: absolute;
    top: 140px;
    border: none;
    color: white;
    background-color: rgba(236,59,85,255);
}
#bottom{
    height: 20%;
    width: 100%;
    /* background-color: green; */
    position: absolute;
    bottom: 5px;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        /* padding: 20px; */
}
#facebook{
    height: 40%;
    width: 80%;
    font-size: 20px;
    padding: 0 50px;
    /* background-color: black; */
}
#bottom h3{
    font-size: 12px;
    
}
#bottom h4{
    font-size: 12px;
    display:inline-block;
    position: absolute;
    bottom: 15px;
    left: 25px;
}
#bottom h5{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 40px;
    color: rgba(236,59,85,255);
}
#part2{
    height: 70%;
    width: 18%;
    background-color: rgba(36,39,63,255);
    position: absolute;
    top: 15%;
    left: 52%;
    

}
#nav2{
    height: 30px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}
#nav2 h4{
    font-size: 10px;
}
#navpart2{
    height: 100%;
    width: 100px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: 10px;
}
#log{
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
}
#middle2{
    height: 60%;
    width: 100%;
    /* background-color: green; */
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     padding: 20px;
        /* justify-content: space-evenly; */
}
#name{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 0 20px;
   gap: 7px;
}
#name input{
    height: 30px;
    width: 105px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid rgba(236,59,85,255);
    background-color: rgba(36,39,63,255);
}
#gmail{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
#gmail input{
    height: 30px;
    width: 220px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid rgba(236,59,85,255);
    background-color: rgba(36,39,63,255);
}
#c2{
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 22px;
    border: 2px solid white;
    background-color:rgba(36,39,63,255) ;
    color: rgba(36,39,63,255);
}
#middle2 h4{
    position: absolute;
    top: 200px;
    left: 45px;
    font-size: 11px;
    color: white;
}
#middle2 button{
    height: 30px;
    width: 220px;
    border-radius: 50px;
    position: absolute;
    top: 230px;
    border: none;
    color: white;
    background-color: rgba(236,59,85,255);
}
#dont{
    font-size: 12px;
    display:inline-block;
    position: absolute;
    bottom: 15px;
    left: 25px;
    color: white;
}
#up{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 40px;
    color: rgba(236,59,85,255);
}
